:root{
  /* footer背景色 */
  --footer-bg-color: #1A1E1D;  
  /* 字体颜色 */
  --font-color: #1A1E1D;
  /* Policy页面颜色变量 */
  --policy-title-color: #1A1E1D;
  --policy-date-color: #EF536B;
  --policy-text-color: #1A1E1D;
  --policy-section-title-color: #1A1E1D;
}